In [1]:
'hello'

'hello'

In [3]:
"I'm going on  a run"

"I'm going on  a run"

In [4]:
print('hello')

hello

In [5]:
print('hello world one')
print('hello world two')

hello world one
hello world two

In [8]:
print('hello \tworld')

hello 	world

In [9]:
len('hello')

5

In [10]:
mystring = 'Hello world'

In [11]:
mystring[0]

'H'

In [12]:
mystring[8]

'r'

In [13]:
mystring[-2]

'l'

In [14]:
mystring[-1]

'd'

In [15]:
mystring = 'abcdefghijk'

In [16]:
mystring[2:]

'cdefghijk'

In [17]:
mystring[:3]

'abc'

In [18]:
mystring[3:6]

'def'

In [19]:
mystring[::]

'abcdefghijk'

In [20]:
mystring[::2]

'acegik'

In [21]:
mystring[::-1]

'kjihgfedcba'

In [22]:
'Hello World'[-3]

'r'

In [24]:
'tinker'[1:4]

'ink'

In [25]:
name = "Sam"

In [26]:
name[0] = P

NameError: name 'P' is not defined

In [27]:
name = "Peter"

In [28]:
name

'Peter'

In [29]:
last_letters = name[1:]

In [30]:
'P' + last_letters

'Peter'

In [31]:
x = 'Hello World'

In [34]:
x = x + ' it is beautiful outside!'

In [35]:
x

'Hello World it is beautiful outside!'

lett

In [36]:
letter = 'zletter * 10

SyntaxError: EOL while scanning string literal (<ipython-input-36-844ea31b5ebe>, line 1)

In [37]:
2 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
x = "Hello world"

In [39]:
x.upper()

'HELLO WORLD'

In [40]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [43]:
print('The {0} {0} {0}'.format('fox','brown','quick'))

The fox fox fox

In [44]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [45]:
result = 100 / 777

In [46]:
result

0.1287001287001287

In [48]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [49]:
name = 'Jose'

In [50]:
print(f'Hello, hist name is {name}')

Hello, hist name is Jose

In [51]:
name = "Sam"
age = 3

In [53]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [55]:
'{language} rules'.format(language='Python')

'Python rules'

In [56]:
my_list = [1,2,3]

In [57]:
my_list

[1, 2, 3]

In [58]:
len(my_list)

3

In [59]:
mylist = ['one', 'two', 'three']

In [60]:
mylist[0]

'one'

In [61]:
mylist[1:]

['two', 'three']

In [62]:
another_list = ['four', 'five']

In [63]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [64]:
new_list[0] = 'ONE'

NameError: name 'new_list' is not defined

In [65]:
my_list[0] = 'ONE'

In [66]:
my_list

['ONE', 2, 3]

In [67]:
new_list.append('six')

NameError: name 'new_list' is not defined

In [68]:
my_list.append('six')

In [69]:
my_list

['ONE', 2, 3, 'six']

In [70]:
new_list = my_list

In [71]:
new_list.pop()

'six'

In [72]:
new_list

['ONE', 2, 3]

In [74]:
new_list.append(4)

In [75]:
popped_item = new_list.pop()

In [76]:
new_list.pop(0)

'ONE'

In [77]:
new_list

[2, 3]

In [78]:
new_list = ['a', 'b', 'c', 'd', 'e']

In [79]:
newer_list = ['a', 'f', 'g', 'z', 'm']

In [80]:
new_list = ['a', 'f', 'g', 'z', 'm']

In [81]:
new_list.sort()

In [82]:
new_list

['a', 'f', 'g', 'm', 'z']

In [83]:
new_list.sort()
my_sorted_list = new_list

In [84]:
my_sorted_list

['a', 'f', 'g', 'm', 'z']

In [85]:
num_list = [4, 6,2, 7, 6]

In [86]:
num_list

[4, 6, 2, 7, 6]

In [87]:
num_list.sort()

In [88]:
num_list

[2, 4, 6, 6, 7]

In [89]:
num_list.reverse()

In [90]:
num_list

[7, 6, 6, 4, 2]

In [91]:
my_dict = {'key1':'value1','key2':'value2'}

In [92]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [94]:
my_dict['key1']

'value1'

In [95]:
price_lookup = { 'apple' : 2.99, 'oranges':1.99, 'milk': 5.80}

In [97]:
price_lookup['apple']

2.99

In [98]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [99]:
d['k2'][2]

2

In [100]:
d['k3']['insideKey']

100

In [101]:
d = {'k1':100,'k2':200}

In [102]:
d['k3'] = 300

In [103]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [105]:
d['k1'] = 'NEW VALUE'

In [106]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [107]:
d_keys()

NameError: name 'd_keys' is not defined

In [108]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [109]:
d.values()

dict_values(['NEW VALUE', 200, 300])

In [110]:
d.items()

dict_items([('k1', 'NEW VALUE'), ('k2', 200), ('k3', 300)])

In [111]:
t = (1,2,3)

In [112]:
mylist = [1,2,3]

In [113]:
len(t)

3

In [114]:
t = ('one, 2')

In [115]:
t[0]

'o'

In [116]:
t = ('a','a','b')

In [117]:
t.count('a')

2

In [118]:
t.index('a')

0

In [119]:
t.index('b')

2

In [120]:
t

('a', 'a', 'b')

In [121]:
mylist[0] = 'New'

In [122]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [123]:
myset = set()

In [124]:
myset

set()

In [125]:
myset.add(1)

In [126]:
myset

{1}

In [127]:
myset.add(2)

In [128]:
myset

{1, 2}

In [129]:
mylist = [1,1,2,2]

In [130]:
set(mylist)

{1, 2}

In [131]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [132]:
True

True

In [133]:
False

False

In [134]:
type(False)

bool

In [135]:
1 > 2

False

In [136]:
1 == 1

True

In [137]:
1 == '1'

False

In [138]:
1 = '1'

SyntaxError: cannot assign to literal (<ipython-input-138-7c4038aefbee>, line 1)

In [139]:
b = None

In [140]:
b

In [141]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [142]:
myfile = open('myfile.txt')

In [143]:
myfile = open('error.text')

FileNotFoundError: [Errno 2] No such file or directory: 'error.text'

In [144]:
pwd

'/Users/chris/Documents/Development/Python/ Complete-Python-3-Bootcamp /My Python Stuff'

In [145]:
myfile = open('myfile.txt')

In [146]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [147]:
myfile.read()

''

In [148]:
myfile.seek(0)

0

In [149]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [150]:
contents = myfile.read()

In [151]:
myfile.seek(0)

0

In [152]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [1]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [2]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [4]:
with open('myfile.txt', mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [5]:
%%writefile my_file_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_file_file.txt

In [8]:
with open('my_file_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [7]:
with open('my_file_file.txt', mode='a') as f:
    print(f.write('\nFOUR ON FOURTH'))

15

In [9]:
with open('my_file_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [10]:
with open('dafdafdsfd.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [11]:
f

In [12]:
with open('dafdafdsfd.txt') as f:
    print(f.read())

I CREATED THIS FILE!